#SITE_HEADER {
	position : absolute;
	top 	 : 0px;
	height   : 149px;
	width    : 980px;
	left     :0px;
}

@media screen and (max-width:800px) {
				@-ms-viewport {
					width:321px;
				}
	}
	
/*Main text,name*/	
.font_0 {
		font:normal normal bold 43px/1.2em 'Noticia Text',serif ;
		color:#606060;
	}
/*Welcome "Hello" logo*/
.font_3 {
		font:normal normal normal 80px/1.2em 'Noticia Text',serif ;
		color:#606060;
	}	
/*"Welcome to my page"*/	
.font_4 {
			font:normal normal normal 46px/1.2em 'Noticia Text',serif ;
			color:#606060;
	}
	
/*"information under name"*/	
.font_6 {
			font:normal normal normal 17px/1.2em 'Noticia Text',serif ;
			color:#606060;
	}
		
/*Desctription*/
.font_8 {
		font:normal normal normal 13px/1.2em 'Open Sans',sans-serif ;
		color:#606060;
	}
/*Comtact panel name font*/
.font_9 {
		font:normal normal normal 12px/1.2em 'Open Sans',sans-serif ;
		color:#606060;
	}
	
/*COLORS*/

/*white*/
.color_11 {
		color:#FFFFFF;
	}

/*MY SKILS Round BUTTON STYLE*/
.s14link {
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
		background-color:rgba(209, 200, 37, 1);  /*Light green*/
		transition: border 0.4s ease 0s, background-color 0.4s ease 0s;    
		border:solid rgba(209, 200, 37, 1) 0px;
		cursor:pointer !important;border-radius:50%;
	}
	
.s14label {
		font:normal normal normal 13px/1.2em 'Open Sans',sans-serif ;
		transition: color 0.4s ease 0s;
		color:#FFFFFF;display:inline-block;
		margin:-webkit-calc(-1 * 0px) 0px 0;
		margin:calc(-1 * 0px) 0px 0;
		position:relative;white-space:nowrap; 
		}
.s14:active[
		data-state~="mobile"
	] 
.s14link,.s14:hover[
	data-state~="desktop"
	] 
.s14link {
		background-color:rgba(139, 133, 25, 1);
		border:solid rgba(139, 133, 25, 1) -5px;
		transition: border 0.4s ease 0s, background-color 0.4s ease 0s;
	}

.s14label {
		color:#FFFFFF;
		transition: color 0.4s ease 0s;
	}	
	
	
/*Background setts*/
.s0screenWidthBackground {
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
	}
		
.s0[data-state~="mobileView"] {
		position:absolute !important;
	}
	
.s0[data-state~="fixedPosition"] {
		position:fixed !important;
		left:auto !important;
		z-index:100;
	}
.s0[data-state~="fixedPosition"].s0_footer {
		top:auto;
		bottom:0;
	}
.s0bg {
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
	}
	
.s0inlineContent {
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
	}
.s0centeredContent {
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
	}	

/*Contact div */
.s5_bg {
		position:absolute;
		width:100%;
		top:0;
		right:0;
		bottom:0;
		left:0;
		background-color:rgba(232, 53, 86, 1);
		border-top:3px solid rgba(255, 255, 255, 1);
		border-bottom:0px solid rgba(255, 255, 255, 1);
	}
	
/*FONTS SET*/
.s1 p  {margin:0;line-height:normal;letter-spacing:normal;}
.s1 h1 {margin:0;line-height:normal;letter-spacing:normal;}
.s1 h2 {margin:0;line-height:normal;letter-spacing:normal;}
.s1 h3 {margin:0;line-height:normal;letter-spacing:normal;}
.s1 h4 {margin:0;line-height:normal;letter-spacing:normal;}
.s1 h5 {margin:0;line-height:normal;letter-spacing:normal;}
.s1 h6 {margin:0;line-height:normal;letter-spacing:normal;}


	